/*styles/messages.less generates resources/css/messages.css if you want to add some changes - edit less*/
#messageboard {
  content: '';
  min-width: 500;
}
#messages {
  position: absolute;
  bottom: 60px;
}
#talk {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 40px;
}
div.message {
  padding: 4px 0;
  border-bottom: 1px solid #eee;
  position: relative;
}
div.message title {
  width: 70px;
  overflow: hidden;
  text-align: right;
  font-weight: bold;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: -1px;
}
div.message p {
  display: inline-block;
  margin: 0;
  width: 500px;
}
div.message.me {
  background: #FFC;
}
div.message.join,
.message.quit {
  background: #D9E7FB;
}
